<!-- {{entityHumanized}} container -->
<div id="{{entityPlural}}-listing" class="container-fluid">
  <!--top action button -->
  <div class="row col-md-12">
    <div class="pull-right">
      <a ui-sref="{{entityPlural}}.new" id="new-{{entityDasherized}}-btn" class="btn btn-primary"><i class="fa fa-plus-square-o"></i> Create New {{entityHumanized}}</a>
    </div>
  </div>

  <!--- Transfers Table -->
  <div class="row">
    <div class="col-md-12">
      <table id="{{entityDasherized}}-collection-table" nova-table-new>
        <tbody>
          <tr>

            <!-- actions column -->
            <td>
              <div class="btn-group">
                <a class="cog-btn" href="javascript:void(0);" data-toggle="dropdown">
                  <i class="nova-cog-2 fa-2x"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="\{{{{entityCamelCase}}States.EDIT}}({ id: item.id })" role="menuitem">Edit</a></li>
                  <li><a href="javascript:void(0);" ng-click="remove{{entity}}(item)">Delete</a></li>
                </ul>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
